.cardsContainer {
  max-width: 1200px;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  margin: 20px auto;
  padding-left: 10px;
}
.cardContainer {
  width: 280px;
  height: 340px;
  text-align: center;
  margin: 20px 7px 7px 7px;
  padding-top: 10px;
  border-radius: 15px;
  box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px,
    rgba(17, 17, 26, 0.1) 0px 0px 8px;
  transition: 0.2s ease-in-out;
}

.cardContainer:hover {
  transform: translateY(-5px);
}

.cardContainer img {
  border-radius: 10px;
}
.title {
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 10px;
  display: block;
  width: 260px;
  margin: 7px auto;
  height: 60px;
}
.container {
  margin: 10px auto;
}
.category {
  padding: 3px 20px 3px 20px;
  border: 0.5px solid #dddddd;
  border-radius: 9999px;
}
.experiment {
  padding: 3px 20px 3px 20px;
  margin-left: 10px;
  border: 0.5px solid #dddddd;
  border-radius: 9999px;
}
