.container {
  width: 800px;
  height: 80px;
  margin: 20px auto;
  overflow: hidden;
  align-items: center;
  box-sizing: border-box;
}

.container span {
  display: block;
  font-size: 12px;
  border-radius: 7px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  margin-right: 20px;
  background-color: #eeeeee;
}

.container button {
  display: block;
  width: 80px;
  height: 100%;
  z-index: 3;
  padding: 10px;
  width: 100px;
  background-image: -webkit-gradient(
    linear,
    right top,
    left top,
    from(hsla(0, 0%, 100%, 0)),
    color-stop(50%, #ffff)
  );
  background-image: linear-gradient(270deg, hsla(0, 0%, 100%, 0), #fff 50%);
}

.container button::before {
  font-size: 30px;
  width: 80px;
  height: 120%;
  box-sizing: border-box;
  padding-top: 25px;
  color: gray;
  z-index: 9;
  background-image: -webkit-gradient(
    linear,
    right top,
    left top,
    from(hsla(0, 0%, 100%, 0)),
    color-stop(50%, #ffff)
  );
  background-image: linear-gradient(170deg, hsla(0, 0%, 100%, 0), #fff 50%);
}
.slick-track {
  background-color: beige;
}

.slick-list {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  z-index: 1;
  width: 80 px;
  height: 54 px;
  left: 0;
  background-color: gold;
}

.banneContainer {
  width: 100%;
  height: 80vh;
  background-color: gold;
  text-align: center;
  padding-top: 190px;
}
