.pageContainer {
  width: 70%;
  margin: auto;
  display: flex;
}
.contContainer {
  width: 650px;
}
.contContainer img {
  border-radius: 5px;
}
.cateContainer {
  margin-top: -20px;
}
.company {
  display: inline-block;
  min-width: 100px;
  border-right: 2px solid #dddddd;
}

.cateContainer span {
  margin-left: 10px;
}
.tagContainer span {
  display: inline-block;
  margin: 20px 3px 10px 3px;
  padding: 6px 10px 0 10px;
  min-width: 80px;
  height: 30px;
  font-size: 12px;
  text-align: center;
  background-color: #eeeeeec2;
  border-radius: 9999px;
}

.section {
  width: 320px;
  margin-left: 20px;
  left: 20px;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 3px 20px 0px,
    rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
  border-radius: 5px;
  height: 280px;
  top: 70px;
  position: sticky;
  padding: 7px 20px 20px 20px;
}

.section h3 {
  font-size: 14px;
}

.section > div {
  display: flex;
}

.section > div div {
  width: 50%;
}

.section > div div p {
  color: #898989;
  font-weight: 700;
  font-size: 14px;
}
.section > div div span {
  display: block;
  color: #232323;
  font-weight: 600;
  font-size: 14px;
  margin-top: -10px;
}
.section section {
  padding-top: 10px;
}
.bookmark,
.apply {
  width: 95%;
  height: 48px;
  margin: 10px auto;
  text-align: center;
  padding-top: 15px;
  font-weight: 700;
  font-size: 14px;
  border-radius: 9999px;
}

.bookmark {
  border: 1px solid rgb(72, 72, 248);
  color: rgb(72, 72, 248);
}
.apply {
  background-color: rgb(72, 72, 248);
  color: #ffffff;
}

.divider {
  width: 100%;
  height: 1px;
  background-color: #eeeeee;
  margin-top: 20px;
}
